body {
    background-image: url(../proyectointegrador/imagenes/fondomaderobueno.jpg   );
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    padding: 10px;
    
}
.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.carousel{
    width: 98%;
    height: 500px;
    margin: 20px auto;
    border: 20px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px gold;
    overflow: hidden;
}
.albums1{
    width: 20%;
    height: 500px;
    
}
.car1{
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0px;
    animation: carousellinear 20s infinite linear;
}
@keyframes carousellinear{
    0%{left: 0%;}
    15%{left: 0%;}
    20%{left: -100%;}
    35%{left: -100%;}
    40%{left: -200%;}
    60%{left: -200%;}
    65%{left: -300%;}
    80%{left: -300%;}
    85%{left: -400%;}
    100%{left: -400%;}
}
.titulos {
    color: azure;
    padding: 10px;
    gap: 20px;
    align-self: center;
    justify-self: center;
    font-size: x-large;
}

a { 
    color: azure;
    text-decoration: none;
}
.medio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: azure;
    justify-items: center;
    padding: 30px;
    gap: 40px;
}


.bot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

img {
    align-self: center;
    height: 100px;
}

.charts {
    box-sizing: content-box;
    display: grid;
    grid-template-rows: 40px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
    padding: 10px;
    justify-items: center;
    background-color: black;
    gap: 30px;
    width: 100%;
}
    
