body {
    background-image: url(../proyectointegrador/imagenes/fondomaderobueno.jpg   );
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    padding: 10px;
    
}
.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.titulos {
    color: azure;
    padding: 10px;
    gap: 20px;
    align-self: center;
}

img {
    height: 100px;
}

.medio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: azure;
    justify-items: center;
}


.bot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}