


body {
    background-image: url(https://github.com/MarcosLagreste/proyectointegrador/blob/master/imagenes/fondomaderobueno.jpg?raw=true);
    margin: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buscador { 
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 35px;
    background-color: transparent;
    color: azure;
    padding: 10px;
    border-radius: 10px;

}
.grid-container {
    padding: 10px;

}
.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}
.carousel{
    width: 98%;
    height: 400px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.719);
    overflow: hidden;
}
.albums1 img{
    width: 20%;
    max-height: 400px;
    height: 720px;
    float: left;

}
.car1{
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0px;
    animation: carousellinear 20s infinite linear;
}
@keyframes carousellinear{
    0%{left: 0%;}
    15%{left: 0%;}
    20%{left: -100%;}
    35%{left: -100%;}
    40%{left: -200%;}
    60%{left: -200%;}
    65%{left: -300%;}
    80%{left: -300%;}
    85%{left: -400%;}
    100%{left: -400%;}
}
.titulos {
    color: azure;
    padding: 15%;
    gap: 20%;
    align-self: center;
    justify-self: center;
    font-size: x-large;
}

a { 
    color: azure;
    text-decoration: none;
    justify-self: center;
}
.medio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: azure;
    justify-items: center;
    padding: 30px;
    gap: 45px;
}


.bot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

img {
    align-self: center;
    width: 50%;
}

.charts {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 10px;
    justify-items: left;
    background-color: rgba(0, 0, 0, 0.651);
    row-gap: 40px;
    width: 100%;

    border-radius: 10px;
    
}

.titulochart{
    justify-items: center;
    padding: 20px;
}

.imageneschart {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    
}

.nomb-cancion {
    align-self: center;
    padding: 10px;
}

h1 {
    color: white;
    text-align: center;
    padding: 50px;
}

.chartsplaylist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.chart1playlist{
    background-color: rgba(0, 0, 0, 0.678);
    padding: 20px;
    text-align: center;
    color: white;
    border: rgba(255, 255, 255, 0.534);
    border-radius: 10px;
    border-style: solid;
}

.detail {
    color: white;
}

.griddetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 30px;
    text-align: center;

}
.imagenartista{
    border-radius: 70px;
    height: 300px;
    width: 500px;    
}

.cuadrocanciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    background-color:  rgba(0, 0, 0, 0.596);
    padding: 30px;
    gap: 20px;
    justify-items: center;
    border-radius: 30px;
    align-items: center;
}

.videocancion{
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 40px;
    justify-items: center;
    text-align: center;
}
.audiocancion{
    grid-template-rows: 1fr 1fr;
}

.canciondelalbum{
    text-align: center;

}  

@media only screen and (max-width: 1200px) {

    .charts {
        grid-template-columns: 2fr 1fr;
    }
}


@media only screen and (max-width: 768px) {

    
    .bot {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .medio {
        display: grid;
        grid-template-columns: none;
    }

    .griddetail {
        display: grid;
        grid: none;
        
    }

    .charts{
        grid-template-columns: 80% 40%;
    }

    .videocancion {
        display: grid;
        grid: none;

    }

}

@media only screen and (max-width: 600px) {
    .charts{
        grid-template-columns: 2fr 1fr;
    }
    .titulos{
        font-size: medium;
    }
    .imagenartista{
        border-radius: 30%;
        height: 80%;
        width: 75%;
    }
}

@media only screen and (max-width: 460px) {
    .top {
        display: grid;
        grid: none;
        text-align: center;
    }
    .bot {
        display: grid;
        grid-template-columns: none;
        text-align: center;
    }
    a {
        text-align: center;
    }
    .top {
        display: grid;
        grid: none;
        justify-content: center;
    }
    .imagenartista{
        border-radius: 30%;
        height: 80%;
        width: 75%;
    }
    audio {
        width: 150px;
        height: 40px;
    }
    .griddetail{
        padding: 0;
        gap: 0;
    }
}

@media only screen and (max-width: 320px) {

    .charts{
        grid-template-columns: 60% 30%;
    }

    .titulos{
        font-size: small;
    }
    
    body{
        font-size: x-small;
    }

    a {
        text-align: center;
    }

    .top {
        display: grid;
        grid: none;
    }
    .bot {
        display: grid;
        grid-template-columns: none;
    }
    .imageneschart {
        width: 100%;
        height: 100%;
        
    }
    .medio {
        width: 100%;
        padding: 0px;
    }
    .carousel{
        height: 300px;
    }
    .imagenartista {
        width: 80%;
        height: 75%;
    }
    .griddetail{
        padding: 0;
        gap: 0;
    }
    audio {
        width: 20px;
        height: 30px;
    }
    .video{
        width: 100%;
    }
    .scotts{
        padding: 0;
    }
}